* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Nerko One', cursive;
  background-color: #ADD8E6;
}
h1 {
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}
.row {
  margin: auto;
  width: 48%;
  height: 250px;
  margin-bottom: 30px;
}
.row1 {
  /* background-color: red; */
}
.card {
  height: 250px;
  width: 200px;
  background-color: blue;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url(../img/pattern.png);
  background-position: center;
  background-size: contain;
  display: inline-block;
  margin-right: 20px;
}
.card1 {
  background-image: url(../img/pattern.png);
  background-position: center;
  background-size: contain;
}
